<div class="body">
<h3>DESCRIPTION</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="email">EMAIL</label>
    <input type="text" id="email" name="email" placeholder="Email">

    <label for="name">NAME</label>
    <input type="text" id="name" name="name" placeholder="Name">

    <label for="subject">SUBJECT</label>
    <input type="text" id="subject" name="subject" placeholder="Subject">

    <label for="description">NOTE</label>
    <textarea id="text" name="description" placeholder="Extra notes goes here..." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</div>
