<div class="row"> 
    <div class="column">
      <img src="https://media-cdn.tripadvisor.com/media/photo-p/0b/51/2f/ba/apollodimora.jpg"
       style="width:100%">
      <img src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/55/09/5509726_v2.jpeg"
       style="width:100%">
      <img src="https://purplekeys.in/apollodimora/website/Home_files/banner4.jpg"
       style="width:100%">
      <img src="https://r1imghtlak.mmtcdn.com/2e6ccb087d8a11e7bf27025f77df004f.jpg?&output-quality=75&downsize=910:612&crop=910:612;4,0&output-format=jpg"
       style="width:100%">
      <img src="https://r1imghtlak.mmtcdn.com/3e4d8bc07d8a11e789f00a4cef95d023.jpg?&output-quality=75&downsize=910:612&crop=910:612;0,35&output-format=jpg"
       style="width:100%">
      <img src="https://r1imghtlak.mmtcdn.com/10391f067d8a11e7b9c6025f77df004f.jpg?&output-quality=75&downsize=910:612&crop=910:612;4,0&output-format=jpg"
       style="width:100%">
      <img src="https://www.arabianbusiness.com/public/styles/fb_share_style_image/public/images/2019/01/08/Apollo-Dimora.jpg?itok=AcmIppZP"
       style="width:100%">
    </div>
    <div class="column">
      <img src="https://exp.cdn-hotels.com/hotels/13000000/12930000/12920200/12920191/5f66c75e_z.jpg?impolicy=fcrop&w=500&h=333&q=medium"
       style="width:100%">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/fd/cc/0d/la-dimora.jpg"
       style="width:100%">
      <img src="https://www.hoteldimorafornillo.it/static/media/spaziInterni1.9b98a1e1.jpg"
       style="width:100%">
      <img src="https://imgcld.yatra.com/ytimages/image/upload/t_hotel_yatra_details_desktop/v1527058459/Hotel/Thiruvananthapuram/00075989/98623780_UpjN8Z.jpg"
       style="width:100%">
      <img src="https://www.hotelsinthiruvananthapuram.com/photos/124627099.jpg"
       style="width:100%">
      <img src="https://az712897.vo.msecnd.net/images/full/8cd0e44e-5c56-4949-81d4-156bde49b179.jpeg"
       style="width:100%">
       <img src="https://media.radissonhotels.net/image/radisson-brand/guestroom/16256-115887-f64430522_3xl.jpg?impolicy=HomeHero"
       style="width:100%">
       
    </div>  
    <div class="column">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/ec/ab/07/eden-vale-inn.jpg?w=900&h=-1&s=1"
       style="width:100%">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/149626451.jpg?k=89674c006ebd89a3ab06f23886efa85db88d39267ee38fcc5535be9ba1184bca&o="
       style="width:100%">
      <img src="https://az712897.vo.msecnd.net/images/full/f2a949e5-4f27-43ec-ad17-09e971900459.jpeg"
       style="width:100%">
      <img src="https://exp.cdn-hotels.com/hotels/3000000/2940000/2937400/2937369/a41b5a5d_z.jpg?impolicy=fcrop&w=500&h=333&q=medium"
       style="width:100%">
      <img src="https://d3emaq2p21aram.cloudfront.net/media/cache/venue_carousel/uploads/2016/03/Eden-Vale-Rooms-LiveOak-Garden-2-X3-142_800_534.jpg"
       style="width:100%">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/226201399.jpg?k=39599af1c4e9715b81671dc9fc1a7c9967e5c3a9d77c7b6a54f9e4ec1a2a86fb&o=&hp=1"
       style="width:100%">
      <img src="https://sncdn.com/imagecache/db/id/3926882/6567721a.jpg"
       style="width:100%">
    </div>
    <div class="column">
        <img src="https://www.digitaltrichy.com/wp-content/uploads/2021/05/Capture-1.jpg"
       style="width:100%">
      <img src="https://pbs.twimg.com/media/DFkOnLpXUAE5aCl.jpg"
       style="width:100%">
      <img src="https://cdn.lowcosthotels.com/jpg/783/441/75/original/7008/7008905.webp"
       style="width:100%">
      <img src="https://cdn.ostrovok.ru/t/640x400/content/6c/94/6c9475a45e9c375022293ee1a16938879f0500e1.jpeg"
       style="width:100%">
      <img src="https://i.pinimg.com/736x/88/4a/a2/884aa2299f4091ed26888a025288aa69.jpg"
       style="width:100%">
      <img src="https://live.staticflickr.com/5337/8953867141_a7c720c2d0_b.jpg"
       style="width:100%">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0WI0k3fnYyyLMM8SQKDE9C8hhm04R4uZZt79XZFDiZThDe3-yYOM6vf3KVRssXEqLBbI&usqp=CAU"
       style="width:100%">
    </div>
  </div>