<div class="row">


  
    <div class="col-md-4">
      <div class="register">
          <h1>Payment</h1>
          <form  (ngSubmit)="PayUser()">
        <div class="form">

          <div class="form-group">
            <label for="">Email Id</label>
            <input  type="email" class="form-control">
          </div>

  
          <div class="form-group">
            <label for="">Billing Mode</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Amount</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Billing Date</label>
            <input type="date" class="form-control">
          </div>

  
          <div class="form-group">
            <button  class="btn btn-success">Pay</button>
            <a routerLink="/showrooms" class="btn btn-danger pull-right">Cancel</a><br>
          </div>
        </div>
    </form>
      </div>
    </div>
  
    <div class="col-md-4"></div>
  
  </div>
